*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family:sans-serif;
}

.clearfix::after{
    content: '';
    clear: both;
    display: table;
}

/* Utilities */

.w-20{
    width: 20%;
}
.w-40{
    width: 40%;
}
.w-60{
    width: 60%;
}
.w-50{
    width: 50%;
}
.w-70{
    width: 70%;
}
.text-center{
    text-align: center;
}
.text-right{
    text-align: right;
}

.bg-white{
    background-color: #fff;
}
.bg-gray{
    background-color: rgb(112, 112, 112);
}

.container{
    margin: 0 auto;
    width: 70%;
}

.col{
    float: left;
}

.btn{
    border-radius: 20px;
    color: #fff;
    text-decoration: none;
}

.btn.btn-white{
    background-color: #fff;
    color: black;
}
.btn.btn-black{
    background-color: black;
    color: white;
}
.btn.btn-small{
    padding: 10px 20px;
}
.btn.btn-big{
    border-radius: 50px;
    padding: 20px 40px;
}

/* Header */
header{
    color: white;
    background-color: #3161E0;
}

header .top-bar{
    height: 80px;
    line-height: 80px;
}
/* Topbar */

#logo{
    vertical-align: middle;
}

.top-menu li{
    display: inline-block;
    list-style-type: none;
    padding: 0 20px;
}



.top-bar .top-menu a{
    color: #fff;
    text-decoration: none;
}
.top-bar .top-menu a:hover{
    text-decoration: underline;
}



/* Jumbotron */

header .jumbotron{
    height: 600px;
    background-image: url(../img/jumbo.png);
    background-position: center;
    background-size: cover;
    position: relative;
}

.jumbotron .container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.jumbotron .jumbo-container{
    margin: 0 auto;
}

.jumbotron .jumbo-container .jumbo-title{
    font-size: 3em;
    padding: 20px;
    margin: 30px auto;
}

.jumbotron .jumbo-container .jumbo-text{
    font-size: 18px;
    line-height: 2em;
    font-weight: 600;
    margin: 30px auto;
    padding: 20px;
}

.jumbotron .jumbo-container .btn{
    display: inline-block;
}

/* Main */
main section{
    height: 100vh;
    position: relative;
}
main section .container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

section .container .col .sect-title{
    font-size: 3em;
    padding-left: 80px;
    padding-right: 80px;
    margin-bottom: 30px;

}
section .container .col .sect-text{
    font-size: 20px;
    line-height: 30px;
    padding-left: 80px;
    padding-right: 80px;
    margin: 30px auto;
}

